server {
      listen 8081;
      server_name video.local;
      root /opt/apps/video_share/public;   # <--- be sure to point to 'public'!
      passenger_enabled on;
      client_max_body_size 0;
      rails_env development;
		
			location /videos/create {
				 # pass request body to here
				 upload_pass @fast_upload_endpoint;
				 upload_store /opt/apps/video_share/temp_files/;
  			 upload_set_form_field asset[original_name] "$upload_file_name";
				 upload_set_form_field asset[content_type] "$upload_content_type";
				 upload_set_form_field asset[filepath] "$upload_tmp_path";
				 upload_store_access user:rw group:rw all:r;
				 upload_pass_form_field "^id$|^authenticity_token$|^format$|^description|^name";
				 upload_cleanup 400 404 499 500-505;
			 }
 			location @fast_upload_endpoint {
				passenger_enabled on;  # or this could be your mongrel/thin backend
			}   
      location /attachments {
				internal;
				alias /opt/apps/video_share/attachments;
			}
	  }
